/* Minimal CSS reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  font-family: sans-serif;
  color: white;
  line-height: 1.5;
  background-image: url("https://media.gettyimages.com/id/1495734095/video/dark-blue-starry-night-sky-loopable.jpg?s=640x640&k=20&c=d_AybUSMtQU9H2ggVkfaqQiD7G1PPIlQRtdtyT0a0Tk=");
  background-size: cover;
  background-position: center;
}

/* Heading styles */
h1 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 4rem;

  background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  text-align: center;
}

/* List styles */
ol {
  text-align: left;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

/* Links */
a {
  color: cyan;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Images */
img,
video {
  height: auto;
  max-width: 100%;
  border-radius: 4px;
}
